<div class="col-xs-8 col-xs-offset-2 text-center">
    <div class="row">
        <form id="CreateWooURLForm" role="form" data-bind="submit: submitURL">
            <div class="form-group">
                <input type="text" class="form-control" id="LongURLValue" placeholder="Enter your long URL here (http://thisisomesortofobnoxiouslylongurlthatisunreadable)" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-bind="enable: isSubmitEnabled">WooURL Me!</button>
            </div>
        </form>
    </div>
    <div class="row extra-padding" data-bind="if: !isSubmitEnabled()">
        <div class="row"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
        <br />
        <div class="row">
            <span class="fa-lg">WooURLing your URL...</span>
        </div>
    </div>
    <div class="row extra-padding">
        <h1 data-bind="text: wooUrl"></h1>
    </div>
</div>
