<div class="col-xs-8 col-xs-offset-2 text-center">
    <div class="row" data-bind="if: isInvalidURL">
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>Please enter a valid URL.
        </div>
    </div>
    <div class="row">
        <form id="CreateWooURLForm" role="form" data-bind="submit: submitURL">
            <div class="form-group" data-bind="css: { 'has-error': isInvalidURL, 'has-feedback': isInvalidURL }">
                <input type="text" class="form-control" id="LongURLValue" placeholder="Enter your long URL here (http://thisisomesortofobnoxiouslylongurlthatisunreadable)" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-bind="enable: isSubmitEnabled">WooURL Me!</button>
            </div>
        </form>
    </div>
    <div class="row extra-padding" data-bind="if: !isSubmitEnabled()">
        <div class="row"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
        <br />
        <div class="row">
            <span class="fa-lg">WooURLing your URL...</span>
        </div>
    </div>
    <div class="row extra-padding" data-bind="if: wooUrl().length > 0">
        <h1 data-bind="text: wooUrl"></h1>&nbsp;
        <a href="" data-bind="attr: { href: wooUrl }" data-toggle="tooltip" data-placement="left" title="Open Link in Current Tab"><span class="glyphicon glyphicon-link"></span></a>&nbsp;&nbsp;
        <a href="" target="_blank" data-bind="attr: { href: wooUrl }" data-toggle="tooltip" data-placement="right" title="Open Link in New Tab"><span class="glyphicon glyphicon-new-window"></span></a>
    </div>
    <div class="row text-muted extra-padding" data-bind="if: originalLink().length > 0">
        <h4>Original Link:<br/><span data-bind="text: originalLink"></span></h4>
        <p>
            <a href="" data-bind="attr: { href: originalLink }" data-toggle="tooltip" data-placement="left" title="Open Link in Current Tab"><span class="glyphicon glyphicon-link"></span></a>&nbsp;&nbsp;
            <a href="" target="_blank" data-bind="attr: { href: originalLink }" data-toggle="tooltip" data-placement="right" title="Open Link in New Tab"><span class="glyphicon glyphicon-new-window"></span></a>
        </p>
    </div>
</div>
